<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.sportscult.sportscultback">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Interface"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fixture_Editing_Page" />
        <activity android:name=".Add_Live_Matches"
            android:screenOrientation="portrait"/>
        <activity android:name=".Add_Matches_To_Fixtures"
            android:screenOrientation="portrait"/>
        <activity android:name=".LiveMatchInformationFeeder"
            android:screenOrientation="portrait"/>
        <activity android:name=".CallRequests"
            android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LiveMatches"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegistrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashPermissionsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddLineup"
            android:screenOrientation="portrait"/>
    </application>

</manifest>